<div class="card my-5">
    <div class="card-body">
      <h4>Reserve su libro</h4>
        <form (ngSubmit)="onSubmit()" #lendingForm="ngForm">
            <label for="usuario">Elija un usuario:</label>
            <select name="usuario" [(ngModel)]="prestamo.user_id" required="">
                <option *ngFor="let user of users" value={{user.id}}>{{user.id}} | {{user.name}} {{user.last_name_p}}</option>
              </select>
              <label for="libro">Elija un libro:</label>
              <select name="libro" [(ngModel)]="prestamo.book_id" required="">
                <option *ngFor="let book of booksDisp" value={{book.id}}>{{book.id}} | {{book.title}}</option>
              </select><br/>
              <button type="submit" [disabled]="!lendingForm.form.valid" 
              class="btn btn-info">Reservar</button>
        </form>
    </div>
</div>

<div class="card my-5">
    <div class="card-body">
      <h4>Reportes de préstamos</h4>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID Usuario</th>
            <th scope="col">ID Libro</th>
            <th scope="col">Fecha préstamo</th>
            <th scope="col">Fecha devolución</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prest of prestamos">
            <td>{{ prest.id }}</td>
            <td>{{ prest.user_id }}</td>
            <td>{{ prest.book_id }}</td>
            <td>{{ prest.date_out}}</td>
            <td>{{ prest.date_return }}</td>
            <td><a (click)="returnBook(prest.id, prest.book_id)" class="btn btn-danger">Devolver</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
